.Card
  width: 80px
  display: flex
  flex-direction: column
  background: #fff

  &-body
    width: 100%
    border: 1px solid $card-border-color
    border-radius: $card-border-radius
    overflow-y: hidden
    display: inline-flex
    flex-direction: column
    background-color: white

  &-back
    height: 122px
    background-image: url(http://placehold.it/80x122)

  &-combat-pair
    padding: 4px
    margin: 4px 0
    background: #f0f0f0
    border-radius: $card-border-radius

  &-wrap-name
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    font-size: 14px

  &-wrap-name,
  &-wrap-stats
    margin: 2px

  &-wrap-tags-overlay
    position: relative
    height: 60px
    display: flex
    justify-content: center
    align-items: center
    background-image: url(http://placehold.it/80x60)

  &-overlay-tag
    text-align: center
    background-color: $overlay-tag-background
    color: $overlay-tag-color
    margin-bottom: 4px
    padding: 2px 4px
    border-radius: 2px

  &-wrap-stats
    margin-top: auto
    display: flex
    justify-content: space-between

  &-stat
    font-size: 14px
    label
      font-size: 10px

  &-actions-wrap
    display: none
    margin: 2px 0
    text-align: center
    border: 1px solid $card-border-color
    border-radius: $card-border-radius

    &.active
      display: block

  &-action
    padding: 2px

    &:hover
      font-weight: bold
      cursor: pointer
  
  &-shrink
    transform: scale(0.9)

  &--zoom
    box-shadow: $card-state-shadow $card-zoom-shadow-color
  
  &--select
    box-shadow: $card-state-shadow $card-select-shadow-color

  &--attack
    box-shadow: $card-state-shadow $card-attack-shadow-color

  &--block
    box-shadow: $card-state-shadow $card-block-shadow-color

  &--tap
    transform: rotateZ(90deg)

  &-opponent
    .Card-combat-pair
      order: 2