.Card
  display: flex
  flex-direction: column
  background: #fff
  &-body
    width: 150px
    border: 1px solid $card-border-color
    border-radius: $card-border-radius
    overflow-y: hidden

    display: inline-flex
    flex-direction: column

  &-combat-pair
    padding: 4px
    margin: 4px 0
    background: #f0f0f0
    border-radius: $card-border-radius

  &-wrap-name,
  &-wrap-stats
    margin: 4px

  &-wrap-tags-overlay
    position: relative
    height: 100px
    display: flex
    justify-content: center
    align-items: center

  &-overlay-tag
    text-align: center
    background-color: $overlay-tag-background
    color: $overlay-tag-color
    margin-bottom: 4px
    padding: 2px 4px
    border-radius: 2px

  &-wrap-stats
    margin-top: auto
    display: flex
    justify-content: space-between

  &-stat
    font-size: 20px
    label
      font-size: 11px

  &-actions-wrap
    display: none
    margin: 4px 0
    text-align: center
    border: 1px solid $card-border-color
    border-radius: $card-border-radius

    &.active
      display: block

  &-action
    padding: 2px

    &:hover
      font-weight: bold
      cursor: pointer



  &--select
    box-shadow: $card-state-shadow $card-select-shadow-color

  &--attack
    box-shadow: $card-state-shadow $card-attack-shadow-color

  &--block
    box-shadow: $card-state-shadow $card-block-shadow-color

  &--tap
    transform: rotateZ(90deg)

  &-opponent
    .Card-combat-pair
      order: 2

.Mana
  display: inline-block
  width: 14px
  height: 14px
  margin-right: 3px
  border: 1px solid
  border-radius: 100px
  font-size: 12px
  text-align: center;
  vertical-align: middle
  color: black

  &-colorless
    background-color: $mana-colorless
    border-color: darken(@background-color, 30%)
  &-white
    background-color: $mana-white
    border-color: darken(@background-color, 30%)
  &-blue
    background-color: $mana-blue
    border-color: darken(@background-color, 30%)
