@keyframes background-pulse {
  0% { background-color: #FFFDFC }
  100% { background-color: #FFFDDA }
}

.droppable-area--over
  animation-name background-pulse
  animation-iteration-count: infinite
  animation-timing-function: ease
  animation-duration: 2s
  animation-direction: alternate
