.Field
  &-wrap
    height: 100vh
    width: 100vw
    display: flex
    align-items: stretch

.LeftField
  width: 200px
  background: #fafafa
  display: flex
  flex-direction: column
  justify-content: space-between
  
  .FieldGroup
    height: 100px
    display: flex
    justify-content: center
    align-items: center
    
    &-label
      color: #a0a0a0
      display: inline-block
      font-size: 14px
      transform: translateY(-15px) rotateZ(180deg)

.CenterField
  flex-grow: 1
  display: flex
  flex-direction: column
  justify-content: space-between

.RightField
  width: 250px
  background: #fafafa
  display: flex
  flex-direction: column
  justify-content: space-between
  
  .FieldGroup
    height: 180px
    
    &.NexusPane-wrap
      height: 100px
  
.Deck
  position: relative
  height: 142px
  width: 80px
  transform: rotateZ(90deg)
  text-align: center

.Deck-card
  height: 122px
  width: 80px
  background-image: url(http://placehold.it/80x122)
  position: absolute
  margin-left: auto
  border: 1px solid transparentify(black, 0.1)

.Nexus
  height: 100%
  font-size: 40px
  display: flex
  justify-content: center
  align-items: center

.ResourcePane
  &-wrap
    background: #d3f0f0
  
  &-pool
    margin-bottom: 15px