.Card.card-hand-enter
  opacity: 0.01
  transform: translateY(-100px)

.Card.card-hand-enter.card-hand-enter-active
  opacity: 1
  transform: translateY(0px)
  transition: all 250ms ease

.Card.card-hand-leave
  opacity: 1
  transform: translateY(0px)

.Card.card-hand-leave.card-hand-leave-active
  opacity: 0.01
  transform: translateY(-100px) scale(3)
  transition: all 250ms ease