body
  font-family: 'Source Sans Pro', sans-serif
  margin: 0

.u-interactable
  cursor: pointer

.u-flex
  display: flex

.u-flex-center
  justify-content: center

.u-flex-middle
  align-items: center

@import 'variables'
@import 'Orb'
@import 'Card'
@import 'Deck'
@import 'Board'
@import 'components'
@import 'transitions'
@import 'dnd'
