$mana-colorless = #f0f0f0
$mana-white = #fff
$mana-blue = #2051E4
$overlay-tag-background = transparentify(#000, 0.4)
$overlay-tag-color = #f0f0f0
$card-border-color = #d0d0d0
$card-border-radius = 3px
$card-select-shadow-color = rgba(255,231,110,0.8)
$card-block-shadow-color = rgba(0,29,111,0.8)
$card-attack-shadow-color = rgba(183,42,0,0.8)
$card-state-shadow = 0px 0px 12px 0px
