$mana-colorless = #d0d0d0
$mana-white = #fff
$mana-blue = #2051E4
$mana-yellow = yellow
$mana-green = green
$mana-red = red
$mana-black = black
$overlay-tag-background = transparentify(#000, 0.4)
$overlay-tag-color = #f0f0f0
$card-border-color = #d0d0d0
$card-border-radius = 3px
$card-zoom-shadow-color = rgba(255,231,110,0.4)
$card-select-shadow-color = rgba(255,231,110,1)
$card-block-shadow-color = rgba(0,29,111,0.8)
$card-attack-shadow-color = rgba(183,42,0,0.8)
$card-state-shadow = 0px 0px 12px 0px
$worker-colorless-zoom-shadow-color = rgba(255, 255, 255, 0.3)
$worker-colorless-select-shadow-color = rgba(255, 255, 255, 0.9)
$worker-state-shadow = 0px 0px 9px 0px
$droppable-attack-shadow-color = rgba(183,42,0,0.8)
$droppable-state-shadow = 0px 0px 12px 0px
